/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Colors */
:root {
  --white: #ffffff;
  --aqua: #3ee9e5;
  --errors: #ff2965;
  --body: #080c20;
  --light-blue: #093f68;
  --dark-grey: #777f98;
}

/* font and spacing */
:root {
  --reg: 1rem;
  --size-lg: 2.5rem;
  --space-md: 2rem;
  --space-sm: 1.5rem;
}

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  padding-block: 40px;
  font-family: "Manrope";
  background-color: var(--body);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
}

h1 {
  font-size: clamp(2rem, 1.5454545454545454rem + 1.9393939393939394vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem);
}

h3 {
  font-size: 1.125rem;
}

p {
  margin: 0;
  font-family: inherit;
  font-size: var(--reg);
  color: var(--dark-grey);
}

button {
  font-family: inherit;
}

.main-grid {
  display: grid;
  overflow-x: hidden;
  column-gap: calc(var(--reg) - 0.375rem);
  grid-template-columns: 110px repeat(2, calc((100% - 60px * 2) / 2));
}

.nav > .logo {
  grid-column: 2;
  cursor: pointer;
  margin-bottom: calc(var(--space-md) * 2);
}

/* Hero */
.hero-image {
  grid-row: 1;
  grid-column: 1;
  margin-block-end: calc(var(--space-md) + var(--reg));
}

.hero-squiggle {
  display: none;
}

.hero-text {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 95px);
}

.hero-text {
  grid-row: 2;
  grid-column: 1;
}

.hero-text > * {
  grid-column: 1 / -1;
  justify-self: center;
}

.hero-text h1 {
  max-width: 12ch;
  text-align: center;
  margin-block-end: var(--space-sm);
}

.maker-para {
  max-width: 33ch;
  text-align: center;
  grid-column: 1 / -1;
}

.love {
  color: var(--aqua);
}

.scroll {
  padding-block-start: var(--space-md);
  margin-block-end: calc(var(--space-md) * 4);
}

/* Blue Boxes */
.box {
  grid-column: 2;
}

.box-svgs {
  margin-bottom: var(--space-md);
  background-color: var(--light-blue);
  padding: var(--space-sm) var(--space-sm);
  border-radius: calc(var(--space-md) + 0.8125rem);
}

/* boxes text */
.boxes-text {
  display: grid;
  grid-column: 2;
  position: relative;
  margin-inline: var(--space-md);
  right: calc(var(--space-md) * 4.5);
  row-gap: calc(var(--reg) - 0.3125rem);
  margin-bottom: calc(var(--space-md) * 2);
  grid-template-columns: repeat(8, 40.875px);
}

.boxes-text > * {
  grid-column: 2 / -1;
  text-align: center;
}

/* sub section */
.sub-section {
  display: grid;
  row-gap: 27px;
  margin-inline: var(--space-sm);
  grid-template-rows: repeat(2, auto);
  margin-block-start: var(--space-sm);
  margin-bottom: calc(var(--size-lg) * 1.75);
  grid-template-columns: repeat(8, 40.875px);

  & h3 {
    text-align: center;
    font-size: var(--space-sm);
  }

  & p {
    text-align: center;
  }
}

.sub-section > * {
  grid-column: 1 / -1;
}

/* boxes */
.maker-box {
  grid-column: 1 / -1;
  margin-top: var(--space-sm);
  margin-inline: var(--space-sm);
  background-color: var(--errors);
  margin-block-end: var(--space-md);
  border-radius: calc(var(--space-sm) / 3);
}

.first,
.second {
  height: fit-content;
}

.first {
  color: var(--white);
  padding: var(--space-sm);
  background-color: var(--light-blue);
}

.first h1,
h3 {
  margin-block-start: calc(var(--reg) + 0.5rem);
}

.first p {
  line-height: 1.6;
  opacity: 59.73%;
  color: var(--white);
  margin-block-start: calc(var(--space-sm) - 0.3125rem);
}

/* icons  */
.first-icon {
  bottom: 60px;
  position: relative;
}

.check {
  padding: 12px 0;
}

small {
  margin-left: var(--reg);
}

/* Second box */
.month {
  opacity: 60%;
  font-weight: 300;
  position: relative;
  font-size: var(--reg);
  bottom: calc(var(--reg) - 0.375rem);
}

.second-icon {
  position: relative;
  bottom: calc(var(--space-md) + 1.3rem);
}

.second {
  color: var(--body);
  padding-block: var(--reg);
  background-color: var(--aqua);
  padding-inline: calc(var(--space-sm) + 0.375rem);

  & p {
    opacity: 60%;
    line-height: 1.6;
    color: var(--body);
    margin-block-start: calc(var(--reg) + 0.1875rem);
  }
}

.second h1,
h3 {
  margin-block-start: calc(var(--reg) + 0.5rem);
}

/* Footer */
.footer-squiggle {
  top: 100px;
  right: 60px;
  width: 584px;
  height: 80px;
  position: relative;
}

.contents {
  z-index: 1;
  display: grid;
  grid-column: 1;
  margin-top: var(--space-sm);
  margin-inline: var(--space-sm);
  grid-template-rows: repeat(3, 72.66px);
  grid-template-columns: repeat(5, 65.6px);
  padding-block-end: var(--space-md) + 1.75rem;

  & h2 {
    max-width: 14ch;
    text-align: center;
    grid-column: 2 / -1;
  }
}
/* Form Styling */
.form {
  display: grid;
  grid-column: 1 / -1;
  row-gap: var(--space-sm);
  grid-template-rows: repeat(2, auto);
}

input,
.button {
  font-size: var(--reg);
  border-radius: var(--space-sm);
  padding: calc(var(--reg) - 0.1rem);
}

.form > input {
  border: none;
  outline: none;
  position: relative;
  color: var(--white);
  margin-top: var(--space-sm);
  background-color: var(--light-blue);
}

input::placeholder {
  opacity: 40%;
  position: relative;
  font-size: var(--reg);
  left: calc(var(--reg) + 0.2rem);
}

.form > .button {
  grid-column: 1 / -1;
}

.button {
  border: 0;
  cursor: pointer;
  font-weight: 550;
  color: var(--light-blue);
  background-color: var(--aqua);
  border-radius: var(--space-sm);

  &:hover {
    color: var(--white);
    transition: 0.5s ease;
    background-color: inherit;
    border: 2px solid var(--aqua);
  }
}

.form > .message-text {
  font-size: 0.75rem;
}

@media (width >= 48em) {
  body {
    padding-block: calc(var(--reg) * 3);
  }

  .main-grid {
    display: grid;
    column-gap: calc(var(--reg) - 0.375rem);
    grid-template-columns: 40px repeat(8, calc((100% - 10px * 8) / 7)) 40px;
  }

  .nav > .logo {
    grid-column: 2;
  }

  /* hero */
  .hero-text {
    grid-row: 1;
    grid-column: 2 / 8;
    margin-inline: 60px;
    margin-top: 30px;
    grid-template-columns: repeat(6, 95px);

    & h1 {
      max-width: 18ch;
      margin-block-end: var(--space-sm);
    }

    & > p {
      max-width: 48ch;
      margin-block-end: 10px;
    }
  }

  /* svgs and squiggle */
  .hero-squiggle {
    display: block;
    position: absolute;
  }

  .picture-1 {
    grid-column: 1;
    position: relative;
    right: calc(var(--size-lg) * 4.25);
  }

  .picture-2 {
    grid-row: 1;
    grid-column: 7;
    position: relative;
    left: calc(var(--size-lg) - 0.4375rem);
  }

  .maker-para {
    max-width: 60ch;
  }

  /* blue boxes section */
  .box {
    display: flex;
    padding: 16px 0;
    column-gap: calc(var(--size-lg) * 2.5);
  }

  .box:nth-child(1) {
    grid-column: 2;
  }

  .box:nth-child(2) {
    grid-row: 2;
    grid-column: 3;
  }

  .box:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
  }

  .box:nth-child(4) {
    grid-row: 4;
    grid-column: 3;
  }

  .boxes-text > * {
    text-align: left;
  }

  /* svgs */
  .svgs:nth-child(2) {
    grid-column: 5;
  }

  .left-svg {
    right: 220px;
    position: relative;
  }

  .right-svg {
    left: 34em;
    position: relative;
  }

  /* sub section */
  .sub-section {
    grid-column: 1;
    margin-inline: 98px;
    grid-template-columns: repeat(8, 71.625px);
  }

  /* maker box */
  .boxes {
    gap: 10px;
  }

  .maker-box {
    position: relative;
    grid-column: 3 / 7;
  }
  
  .first,
  .second {
    width: 448px;
  }

  /* Contents */
  .contents {
    display: grid;
    grid-column: 4;
    margin-top: 50px;
    grid-template-rows: repeat(2, 55px);
    grid-template-columns: repeat(8, 59.5px);
  }

  .contents {
    right: 33px;
    grid-column: 4;
    row-gap: 20px;
    position: relative;
  }

  .contents h2 {
    grid-row: 1;
    max-width: 50ch;
    grid-column: 1 / -1;
    font-size: var(--space-sm);
  }

  .input,
  .button {
    align-self: end;
  }

  .input {
    grid-row: 2;
    padding: 10px;
    grid-column: 1 / 5;
  }

  .button {
    grid-row: 2;
    margin-left: 16px;
    grid-column: 6 / 9;
  }

  .footer-squiggle {
    right: 230px;
    height: 140px;
    width: 1022px;
    position: relative;
  }
}

@media (width > 60em) {
  body {
    padding-block: 81px;
  }

  .main-grid {
    column-gap: 30px;
    grid-template-columns: 165px repeat(12, calc((100% - 65px * 11) / 12)) 165px;
  }

  .hero .hero-text {
    grid-column: 5;
  }

  /* squiggle and hero-svg */
  .picture-1 {
    right: 39px;
    width: 408px;
    height: 459px;
    grid-column: 1;
    position: relative;
  }

  .picture-2 {
    width: 396px;
    height: 444px;
    grid-column: 12;
    position: relative;
  }

  .hero-squiggle {
    width: 544px;
    height: 377px;
  }

  .scroll {
    margin-block-start: 32px;
  }

  /* Boxes section */
  .blue-boxes {
    overflow-y: hidden;
  }

  .box {
    display: grid;
    column-gap: 5px;
    padding-block-start: 102px;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(6, 62px);
  }

  .box > * {
    grid-column: 1 / -1;
  }

  .box > .boxes-text {
    grid-column: 2;
  }

  .box-svgs {
    padding: 30px 33px;
  }

  .box:nth-child(1) {
    grid-column: 2;
  }

  .box:nth-child(2) {
    grid-row: 1;
    grid-column: 5;
  }

  .box:nth-child(3) {
    top: 10px;
    grid-row: 1;
    grid-column: 8;
    position: relative;
  }

  .box:nth-child(4) {
    grid-row: 1;
    grid-column: 11;
  }

  .box:nth-child(even) {
    top: 45px;
    position: relative;
  }

  .box:nth-child(odd) {
    bottom: 100px;
    position: relative;
  }

  .boxes-text p {
    max-width: 26ch;
  }

  /* sub section */
  .sub-section {
    grid-column: 4;
  }

  /* boxes  */
  .first {
    grid-column: 2;
  }

  .second {
    grid-column: 7;
  }

  .maker-box {
    left: 76px;
    position: relative;
  }

  /* Footer */
  .footer {
    overflow-y: hidden;
  }

  .footer,
  .contents {
    z-index: 1;
  }

  /* Form  */
  .contents {
    /* width: 80%; */
    grid-column: 3 / -1;
  }

  .footer-squiggle {
    left: 2px;
    z-index: 1;
    width: 1700px;
    height: 224px;
    position: relative;
  }

  .contents h2 {
    /* grid-column: 2 / -1; */
  }

  input {
    grid-row: 2;
    grid-column: 3 / 10;
    font-family: inherit;
  }

  .error-message {
    grid-row: 2;
    font-size: 12px;
    grid-column: 1 / -1;
    color: var(--errors);
  }

  .button {
    grid-row: 2;
    margin-left: 16px;
    grid-column: 10 / 13;
  }
}
